*{
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background: rgb(0, 16, 48);
    overflow: hidden;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: fixed;
    left: 50%;
    top: 10px;
    height: 45px;
    transform: translate(-50%);
    background: rgb(0, 19, 69);
    width: 400px;
    border-radius: 2rem;
    z-index: 99999999999999999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s ease;
}

.navbar:hover{
    top: 10px;
}

.nav-title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.nav-title h1{
    color: rgb(201, 204, 255);
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.8s ease;
}

.nav-title h1:hover{
    background: rgb(200, 205, 255);
    padding: 5px;
    color: black;
}

.nav-link{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link i{
    color: rgb(201, 204, 255);
    transition: all 0.8s ease;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2rem;
    margin-right: 10px;
}

.nav-link i:hover{
    background: rgb(200, 205, 255);
    padding: 5px 10px;
    color: black;
}

.container input{
    font-size: 20px;
    width: 260px;
    padding: 12px 22px;
    border-radius: 6px;
    background-color: rgba(62, 104, 255, 0.379);
    border: none;
    color: white;
    transition: all 0.5s ease;
    text-align: center;
}

.container input::placeholder{
    color: rgba(255, 255, 255, 0.641);
}

.container input:focus{
    padding: 14px 46px;
    outline: 0;
}

.searchBar{
    width: 100%;
    height: 100%;
}

.navEl{
    position: absolute;
    left: 50%;
    top: 0;
    height: 10px;
    transform: translate(-50%);
    width: 400px;
    cursor: pointer;
    z-index: 999999999999999999;
}

.games{
    width: 100%;
    height: 100%;
    top: 110px;
    position: absolute;
    left: 0;
    margin: 10px;
    overflow: scroll;
    border: none;
}

.game{
    background-color:rgb(0, 49, 174);
    color: white;
    font-size: 18px;
    border: solid 1px white;
    border-radius: 6px;
    padding: 8px 12px;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    transition: all 0.5s ease;
}

.game:hover{
    transform: scale(1.08);
    background: rgb(173, 177, 255);
    color:rgb(0, 49, 174);
    border: solid 1px rgb(0, 49, 174);
}

.search{
    width: 100%;
    top: 60px;
    left: 0;
    height: 70px;
    background: rgb(0, 16, 48);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 47, 255, 0.21);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000568;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888eff;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555dff;
  }

  iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    background-color: rgb(0, 1, 42);
    border: none;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav i{
    color: rgb(201, 204, 255);
    transition: all 0.8s ease;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2rem;
    margin: 3px;
    display: none;
}

.nav i:hover{
    background: rgb(200, 205, 255);
    padding: 5px 10px;
    color: black;
}